#header{
    display:flex;
    flex-direction: column;
    top:2%;
    position: sticky;
}
#header-img{
    width:5%;
}

#nav-bar{   
    display: flex;
    background-color: rgba(69, 80, 49, 0.582);
    flex-direction: row;  
}
#nav-bar a{
    padding-right: 5%;
    padding-left: 5%;
}

#nav-bar a:first-of-type{
    border-left:1px solid rgb(17, 16, 16);
}

#nav-bar a:last-of-type{
    border-right: 1px solid rgb(17, 16, 16);
}

#nav-bar a:hover{
    background-color: rgba(101, 122, 63, 0.897);
    transition-timing-function: ease-out;
    transition-duration: 0.4s;  
}
.nav-link{
    position:sticky;
    align-self: center;
    margin-left: 5%;
    font-size: 1.5rem;
    text-decoration: none;
    color:rgb(17, 16, 16);  
}
#content{
    margin:5%;
    padding: 2%;   
}

#product-name{
    text-align: center;
}
#product-picture{
    font-size: 1rem;
}
#gold-blue{
    width:40%;
}
#description{
    font-size: 1rem;
    margin-top: 5%;
}
table{
    border: 1px solid rgb(17, 16, 16);
    margin-left: 40%;
}
th, td {
    border-bottom: 1px solid rgb(17, 16, 16);
}
td{
    border-left: 1px solid rgb(17, 16, 16);
}
#sizes{
    width: 15%;
    margin-top: 5%;
}

#video{
    float:right;
    margin-top: 5%;
    font-size: 1.5rem;
}

#email-form{
    display:flex;
    flex-direction: column;
    position: relative;
    top: 500px;
}
#form{
    padding: 5px;
}
@media only screen and(max-width:"600px") {
    #header{
        top:1%;
    }
    .nav-link{
        margin-left: 2%;
        font-size: 1rem;
    }
    #nav-bar a{
        padding-right: 2%;
        padding-left: 2%;
    }
    
}