html{
     background-color: #000000;
     background-image: -moz-linear-gradient(top, rgb(216, 172,60) 0vh, #000000 30vh);
     background-repeat:no-repeat;
}

body{
     background-color: transparent;
     
     }

h2 { 
     text-decoration: underline;
     padding:5px;
     text-align: center;
     color:rgb(231, 231, 231);
     font-size: 24px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }

#navi{
     list-style-type: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 24px;
     display: flex;
     justify-content: space-evenly;
    /* background-color: rgb(216, 172, 60);*/
     height:25vh;
     align-items: center;
}

.nav-link a{
     text-decoration: none;
     color:rgb(243, 245, 240); 
     padding:0.5em;   
}
.nav-link{
     padding: 20px;
}

.nav-link a:hover{
     color: #000;
     background-color: rgba(196, 171, 109, 0.664);
     padding:0.5em;
     transition:0.6s ease;
     border-radius:0.25em;
     
}
#profile-picture{     
     width:226px;
     height: 325px;    
     position:sticky;
}
.main-content{
     display:flexbox;
     flex-direction: column;
     /*padding: 0% 10% 0% 10%;*/
     /*background-color: rgb(224, 208, 174);*/
     background-color: #000;
     width:100%;
     height:100%;
    
}
.main-content p{
     height:max-content;
     padding:5%;
     /*background-color: rgb(224, 208, 174);*/
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
     text-align: center;
     background-color: transparent;
     color:rgb(245, 245, 245);
    
}    
footer{
     position:fixed;
     bottom:0;
     left:0;
     width:100%;
     font-size:20px;
     background-color:#f5f4e2; 
}
.project_links{
     display:flex;
     flex-direction: column;
     align-items: center;
     padding-top:5%;
}
.project{
     text-decoration: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 24px;
     width:40%;
     
}
.project a{
     text-decoration: none;
     color:#ffffff;
     
}
.about-art p{
    text-align: center;
}
#contact{
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin:auto;
     width:200px;
     color:#ffffff;
}